@import 'variables';

.result-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 60px;
  }

  &__result-tile {
    flex-basis: calc(50% - 15px);
    min-width: calc(50% - 15px);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-text_bright;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    padding: 20px 29px 36px 41px;
  }
}
