<header class="header">
  <a href="/search" class="link">
    <svg-icon
      src="../../assets/img/github-search-logo.svg"
      class="header__logo"
    ></svg-icon>
  </a>
  <div class="header__item header__control">
    <a
      routerLink="/search"
      class="link link_tdn header__link"
      routerLinkActive="header__link_active"
    >
      Search
    </a>
    <a
      routerLink="/my-list"
      class="link link_tdn header__link"
      routerLinkActive="header__link_active"
    >
      My list
    </a>
  </div>
</header>
