<h1 class="container">My List</h1>

<app-no-result-found
  *ngIf="!dataService.myList.length"
  class="container no-result-found"
></app-no-result-found>

<app-result-list *ngIf="dataService.myList.length"></app-result-list>

<!-- Чтобы не создавались лишние контейнеры. Angular, ты не перестаёшь бесить! -->

<!-- <ng-template [ngIf]="!dataService.searchList.length" [ngIfElse]="resultList">
  <app-no-result-found></app-no-result-found>
</ng-template>
<ng-template #resultList>
  <app-result-list></app-result-list>
</ng-template> -->
