@import 'variables';

.result-list-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 60px;

  &__item {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    opacity: 0.4;

    &:last-child {
      margin-right: 0;
    }

    &_active {
      cursor: default;
      opacity: 1;
      transition: opacity $time;
    }
  }
}
