<app-search-form></app-search-form>
<app-no-result-found
  *ngIf="!this.dataService.searchList.length"
  class="container no-result-found"
></app-no-result-found>
<app-result-list-control
  *ngIf="this.dataService.searchList.length"
></app-result-list-control>
<app-result-list
  *ngIf="this.dataService.searchList.length"
  [repos]="this.dataService.searchList"
></app-result-list>

<!-- Чтобы не создавались лишние контейнеры. Angular, ты не перестаёшь бесить! -->

<!-- <ng-template [ngIf]="!this.dataService.searchList.length" [ngIfElse]="resultList">
  <app-no-result-found></app-no-result-found>
</ng-template>
<ng-template #resultList>
  <app-result-list></app-result-list>
</ng-template> -->
