<!-- 
https://material.angular.io/components/categories/forms
-->

<!-- <div class="search__item"> -->

<section class="search container">
  <!-- <mat-form-field class="search__item">
    <mat-label>Type</mat-label>
    <mat-select [(value)]="Repositories">
      <mat-option value="Repositories">Repositories</mat-option>
    </mat-select>
  </mat-form-field> -->
  <div class="search__item">
    <select [(ngModel)]="language">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
  <div class="repoBlock" *ngFor="let item of this.dataService.items">
    {{ item.label }}
  </div>

  <!-- </div> -->
  <!-- <div class="search__item"> -->
  <!-- <form class="example-form"> -->
  <!-- <mat-form-field class="search__item">
    <input matInput placeholder="Type here for search" />
  </mat-form-field> -->
  <button
    class="search__submit btn btn_brand"
    disabled="{isDisableSearch}"
    onClick="{handleClickSearch}"
  >
    search
  </button>
</section>
